body {
  font-family: 'Arial', sans-serif;
  background-color: #2C2F33;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#app {
  max-width: 400px;
  width: 100%;
  background-color: #2C2F33;
  padding: 20px;
  text-align: center;
}

#profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto 10px;
  display: block;
}

h1 {
  color: white;
  font-size: 1.5em;
}

#display-name {
  color: white;
  font-size: 1.2em;
  margin-bottom: 20px;
}

label {
  color: #0D3B66;
  text-align: left;
  font-size: 0.9em;
  margin-bottom: 5px;
  display: block;
}

input[type="text"],
select {
  width: 90%;  
  padding: 5px;
  margin-bottom: 5px; 
  border: none;
  border-radius: 10px; 
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  font-size: 1em;
  box-sizing: border-box;
}

input[type="text"]:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
  width: 90%; 
  padding: 12px;
  background-color: #7289DA;
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5A6FB1;
}

.card {
  background-color: white;
  color: #333;
  border-radius: 15px; 
  padding: 10px; 
  margin-bottom: 10px; 
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-3px); /
}

#airtable-data {
  margin-top: 15px;
  padding: 10px;
  background-color: #23272A;
  border-radius: 10px;
  color: white;
}
